<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="schedule.dao.ScheduleDAO">

	<resultMap type="scheduleVO" id="scheduleMap">
		<result column="no" property="no" />
		<result column="movie_no" property="movieNo" />
		<result column="theater_name" property="theaterName" />
		<result column="screen_time" property="screenTime" />
		<result column="seat_cnt" property="seatCnt" />
		<association property="movie" javaType="movieVO">
            <id column="no" property="no" />
            <result column="title" property="title"/>
            <result column="runtime" property="runtime"/>
            <result column="poster_url" property="posterUrl"/>
            <result column="rating" property="rating" />
        </association>
        <collection property="seatList" ofType="seatVO">
        	<id column="seat_no" property="no" />
            <result column="seat_name" property="seatName" />
            <result column="available" property="available" />
        </collection>
	</resultMap>
	
	<select id="selectWhereFromDB1" resultMap="scheduleMap" parameterType="scheduleVO">
		select s.no 			as no
		      ,s.movie_no 		as movie_no
		      ,s.theater_name 	as theater_name
			  ,s.screen_time	as screen_time
			  ,m.title 			as title
			  ,m.runtime		as runtime
			  ,(select sum(t.available)
				  from t_seat t
				 where s.no = t.schedule_no
			  	) as seat_cnt
		  from t_schedule s
		       join t_movie m
		        	on m.no = s.movie_no
		<where>
			<if test="screenTime != null">
				s.screen_time between to_date(#{screenTime}, 'YYYY-MM-DD') and TO_DATE(#{screenTime}, 'YYYY-MM-DD') + INTERVAL '1' DAY - INTERVAL '1' SECOND
			</if>
			<if test="movieNo != 0">
				and s.movie_no=#{movieNo}
			</if>
		</where>
		order by screen_time
	</select>
	
	<select id="selectWhereFromDB2" resultMap="scheduleMap" parameterType="scheduleVO">
		select s.schedule_no	as no
		      ,s.movie_no 		as movie_no
		      ,s.theater_name 	as theater_name
			  ,s.start_time		as screen_time
			  ,m.movie_name 	as title
			  ,m.running_time	as runtime
			  ,(select sum(t.available)
				  from tbl_seat t
				 where s.schedule_no = t.schedule_no
			  	) as seat_cnt
		  from tbl_schedule s
		       join tbl_movie m
		        	on m.movie_no = s.movie_no
		<where>
			<if test="screenTime != null">
				s.start_time between to_date(#{screenTime}, 'YYYY-MM-DD') and TO_DATE(#{screenTime}, 'YYYY-MM-DD') + INTERVAL '1' DAY - INTERVAL '1' SECOND
			</if>
			<if test="movieNo != 0">
				and s.movie_no=#{movieNo}
			</if>
		</where>
		order by screen_time
	</select>
	
	<select id="selectWhereFromDB3" resultMap="scheduleMap" parameterType="scheduleVO">
		select s.schedule_no	as no
		      ,s.movie_no 		as movie_no
			  ,s.screen_time	as screen_time
			  ,m.title 			as title
			  ,m.runtime		as runtime
			  ,(select sum(t.able)
				  from seat t
				 where s.schedule_no = t.schedule_no
			  	) as seat_cnt
		  from schedule s
		       join movie m
		        	on m.no = s.movie_no
		<where>
			<if test="screenTime != null">
				s.screen_time between to_date(#{screenTime}, 'YYYY-MM-DD') and TO_DATE(#{screenTime}, 'YYYY-MM-DD') + INTERVAL '1' DAY - INTERVAL '1' SECOND
			</if>
			<if test="movieNo != 0">
				and s.movie_no=#{movieNo}
			</if>
		</where>
		order by screen_time
	</select>
	
	<select id="selectByNoAssociationFromDB1" resultMap="scheduleMap" parameterType="int">
		select s.no              as no,
	           s.movie_no        as movie_no,
	           s.theater_name    as theater_name,
	           s.screen_time     as screen_time,
	           m.title           as title,
	           m.runtime         as runtime,
	           m.rating			 as rating,
	           m.poster_url		 as poster_url,
	           t.no              as seat_no,
	           t.seat_name       as seat_name,
	           t.available       as available
	      from t_schedule s
	           join t_movie m on m.no = s.movie_no
	           left join t_seat t on s.no = t.schedule_no
	     where s.no = #{no}
	</select>
	
	<select id="selectByNoAssociationFromDB2" resultMap="scheduleMap" parameterType="int">
		select s.schedule_no     as no,
	           s.movie_no        as movie_no,
	           s.theater_name    as theater_name,
	           s.start_time      as screen_time,
	           m.movie_name      as title,
	           m.running_time    as runtime,
	           t.seat_no         as seat_no,
	           t.seat_name       as seat_name,
	           t.available       as available
	      from tbl_schedule s
	           join tbl_movie m on m.movie_no = s.movie_no
	           left join tbl_seat t on s.schedule_no = t.schedule_no
	     where s.schedule_no = #{no}
	</select>
	
	<select id="selectByNoAssociationFromDB3" resultMap="scheduleMap" parameterType="int">
		select s.schedule_no     as no,
	           s.movie_no        as movie_no,
	           s.screen_time     as screen_time,
	           m.title           as title,
	           m.runtime         as runtime,
	           m.grade			 as rating,
	           t.no              as seat_no,
	           t.able	         as available
	      from schedule s
	           join movie m on m.no = s.movie_no
	           left join seat t on s.schedule_no = t.schedule_no
	     where s.schedule_no = #{no}
	</select>
	
	
	<select id="selectByNoFromDB1" resultMap="scheduleMap" parameterType="int">
		select s.no              as no,
	           s.movie_no        as movie_no,
	           s.theater_name    as theater_name,
	           s.screen_time     as screen_time,
	           m.title           as title,
	           m.runtime         as runtime
	      from t_schedule s
	           join t_movie m on m.no = s.movie_no
	     where s.no = #{no}
	</select>
	
	<select id="selectByNoFromDB2" resultMap="scheduleMap" parameterType="int">
		select s.schedule_no     as no,
	           s.movie_no        as movie_no,
	           s.theater_name    as theater_name,
	           s.start_time      as screen_time,
	           m.movie_name      as title,
	           m.running_time    as runtime
	      from tbl_schedule s
	           join tbl_movie m on m.movie_no = s.movie_no
	     where s.schedule_no = #{no}
	</select>
	
	<select id="selectByNoFromDB3" resultMap="scheduleMap" parameterType="int">
		select s.schedule_no     as no,
	           s.movie_no        as movie_no,
	           s.screen_time     as screen_time,
	           m.title           as title,
	           m.runtime         as runtime
	      from schedule s
	           join movie m on m.no = s.movie_no
	     where s.schedule_no = #{no}
	</select>
	
	
</mapper>
